<div id="createTodo">
    <div>
        <label>Description: </label>
        <input id="description" type="text" />
    </div>

    <div>
        <label>Completed: </label>
        <input id="completed" type="checkbox" />
    </div>

    <button onclick="onTodoCreated()">Submit</button>
</div>