<script type="text/javascript">
    function onTodoCreated() {
        let todo = {
            description: (document.getElementById('description').value || '').trim(),
            completed: document.getElementById('completed').checked
        };
        let url = location.href;

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            credentials: 'same-origin',
            body: JSON.stringify(todo)
        })
        .then((response) => {
            if(response.status !== 201) {
                return response.text().then((text) => alert(`Failed to create Todo: ${text}`));
            }
        })
        .then(() => location.href = location.href)
        .catch((err) => alert(`Failed to create Todo: ${err}`));
    }
</script>

<div id="createTodo">
    <div>
        <label>Description: </label>
        <input id="description" type="text" />
    </div>

    <div>
        <label>Completed: </label>
        <input id="completed" type="checkbox" />
    </div>

    <button onclick="onTodoCreated()">Submit</button>
</div>