{{>header}}

<h1>Todo View</h1>

{{#todo}}
    <table>
        <tr>
            <th>id</th>
            <td>{{id}}</td>
        </tr>
        <tr>
            <th>description</th>
            <td>{{description}}</td>
        </tr>
        <tr>
            <th>created</th>
            <td>{{created}}</td>
        </tr>
        <tr>
            <th>modified</th>
            <td>{{modified}}</td>
        </tr>
        <tr>
            <th>completed</th>
            <td>{{completed}}</td>
        </tr>
    </table>

    <script type="text/javascript">
        function onDelete() {
            fetch(location.href, {
                method: 'DELETE'
            })
            .then((response) => {
                if(response.status !== 200) {
                    return response.text().then((text) => alert(`Failed to delete Todo: ${text}`));
                }
            })
            .then(() => location.href = '/todo')
            .catch((err) => alert(`Failed to delete Todo: ${err}`));
        }
    </script>

    <hr />

    <input type="button" value="Delete Todo" onclick="onDelete()"/>
{{/todo}}

{{>footer}}