<h1>Todo List</h1>

<script type="text/javascript">
    function onCompletedChanged(sender) {
        let url = `${location.origin}/todo/${sender.value}`
        let completed = sender.checked;

        fetch(url, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(completed)
        });
    }
</script>

<ul class="listing">
    {{#todos}}
        <li>
            <input onclick="onCompletedChanged(this)"
                   type="checkbox"
                   value="{{id}}"
                   {{#completed}}checked="checked"{{/completed}}/>
            <a href="/todo/{{id}}">{{description}}</a>
        </li>
    {{/todos}}
</ul>
